{% extends "layout.html" %}
{% block body %}
<div id="login-box">
  <div class="well span4 offset4">
    <form action="{[ url_for('changePassword') ]}" class="" method="post">
    <h3 class="form-signin-heading">Change Password</h3>
    <input type="password" autofocus required placeholder="Current Password" name="Old_Password">
    <input type="password" required placeholder="New password" name="New_Password">
    <input type="password" required placeholder="Confirm Password" name="Confirm_Password">
    <input class="btn btn-large btn-success" type="submit" value="Change">
  </form>
  </div>
</div>
{% endblock %}
