{% extends "layout.html" %}
{% block body %}
  <ng-view></ng-view>
{% endblock %}
{% block scripts %}
  <script src="static/js/bootstrap-datepicker.js"></script>
  <script src="static/js/bootstrap-timepicker.js"></script>
  <script src="static/lib/angular/angular-resource.js"></script>
  <script src="static/js/app.js"></script>
  <script src="static/js/services.js"></script>
  <script src="static/js/controllers.js"></script>
  <script src="static/js/filters.js"></script>
  <script src="static/js/directives.js"></script>
{% endblock %}
