{% extends "layout.html" %}
{% block body %}
  <div id="login-box">
    <div class="well span4 offset4">
      
        <form class="form-signin" action="" method=post>
        <h2 class="form-signin-heading">Sign in</h2>
                <label for="name">Username</label>
        <input type="text" class="input-block-level" name="name" required autofoucs>
                <label for="name">Password</label>
        <input type="password" class="input-block-level" name="password" required>
        
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>

    </div>
  </div>
{% endblock %}
