<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign In</title>
    <link rel="stylesheet" href="static/css/bootstrap.css"/>
    <link rel="stylesheet" href="static/css/app.css"/>
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <a href="#" class="brand">Project name</a>
      </div>
    </div>
    <br />
    {% for message in get_flashed_messages() %}
    <div class="span5 offset3 alert alert-info fade in" >
      <span>{[ message ]}</span>
      <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
    {% endfor %}
    <br />
    {% if error %} 
    <div class="span5 offset3 alert alert-info fade in" >
      <button type="button" class="close" data-dismiss="alert">×</button>
      <span>{[ error ]}</span>
    </div> 
    {% endif %}
    <br />
    <div id="login-box" class="row">
      <div class="well span4 offset4">
        <form action="" method=post>
          <h3>Sign in</h3>
          <label for="email">Email:</label>
          <input type="email" autofocus required name="email">
          <label for="password">Password:</label>
          <input type="password" name="password" required>
          <br />
          <input class="btn btn-large btn-success" type="submit" value="Sign in">
        </form>
      </div>
    </div>
    <script src="static/lib/angular/angular.js"></script>
  </body>
</html>
