<br />
<br />
<div class="offset3 span9">
    <table id="main-table" class="table table-striped">
        <tr>
            <th>Table</th>
            <th>Operations</th>
        </tr>
        <tr ng-repeat="logset in logsets">
            <td>{{logset.name}}</td>
            <td>
                <a href="#/logviewer/{{logset.name}}">View logs</a>
            </td>
            <td>
                <a href="#/AddNewTable/{{logset.name}}">Add logs</a>
            </td>
        </tr>
    </table>
    <a href="#/AddNewTable">Add New Project</a>
</div>

